
/*---------------------
--- navigation menu ---
---------------------*/

.top-nav .content-wrapper {
    position: relative;
	z-index: 20;
}
.main-navigation {
	position: relative;
	height: 0;
	
	/*clear: both;
    display: block;
    float: left;
    margin-left: 15px;
    width: calc(100% - 70px);
	*/
}
.main-navigation  ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;

	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translateY(-800px);
	-webkit-transform: translateY(-800px);
	-ms-transform: translateY(-800px);
	transform: translateY(-800px);
	-moz-transition: -moz-transform 0.7s ease;
	-webkit-transition: -webkit-transform 0.7s ease;
	-ms-transition: -ms-transform 0.7s ease;
	
	/*IE*/
	left: 0px;
	overflow-x: hidden;	
	
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
	
    border-bottom: 1px solid #333;
    color: #fff;
    /*text-align: center;*/
}

.main-navigation ul {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}
.main-navigation ul > li {
	margin-left: 4em;
	/*display: inline-block;*/
}
/*.main-navigation ul  > li:first-child {
	margin-left: 0;
}*/
.main-navigation ul > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.main-navigation ul > li > a:not(:only-child):before {
	display: inline-block;
	font-family: 'bpmenu';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f107";
	font-size: 80%;
	margin-right: 0.3em;
	opacity: 0.4;
	vertical-align: middle;
}
.main-navigation ul  > li.cbp-hsitem-open > a:not(:only-child):before {
	content: "\f106";
}
/* Add a triangle to currently open menu item link */
.main-navigation ul > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #47a3da;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

/*the submenu*/
.main-navigation ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 0;
	text-align: center; /* for aligning the sub items */
	visibility: hidden;
}
.main-navigation ul ul:before, 
.main-navigation ul ul:after { 
	content: " "; 
	display: table; 
}
.main-navigation ul ul:after { 
	clear: both; 
}

/* Let's allow 6 item in a row */
.main-navigation ul ul > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.main-navigation ul ul> li:nth-child(-n+6) {
	box-shadow: -28px 0 0 -27px #ddd;
} 

/* Every 7th item does not have a left box shadow */
.main-navigation ul ul > li:nth-child(6n+1) {
	box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.main-navigation ul ul > li:first-child {
	box-shadow: none;
}
.main-navigation ul ul > li a {
	display: block;
	text-align: center;
	color: #a2a2a2;
	outline: none;
	padding: 2em 1em 1em 1em;
}


.main-navigation ul ul > li a:hover,
.main-navigation ul ul > li a:focus {
	color: #888;
}
.main-navigation ul ul> li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.main-navigation ul ul> li a:hover img {
	opacity: 0.5;
}

.main-navigation ul ul> li a span {
	display: block;
	min-height: 3em;
	margin-top: 0.4em;
}

/*
.main-navigation ul ul ul {
}

.main-navigation ul ul a {
	width: 250px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}


.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {

}

/*color of the submenu link
.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {

}

/*positioning of the submenu container
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

/*color of the current page link
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
	color: #e89980;
	font-weight: 300;
	text-decoration: underline;
}
/*color of the parent page link
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: #170f0c;
	font-weight: 500;
}
*/
/* */
.main-navigation .toggled ,
.main-navigation .toggled ul {
	height: auto;
	-moz-transform: translateY(0px);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-moz-transition: -moz-transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;	
}


/*header*/
.site-header {
	font-size: 1em;
	border-bottom: 1px solid #eee;
	/*background: #170f0c none repeat scroll 0 0;*/
	background: #47a3da;
    cursor: default;
    height: auto;
    left: 0;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 12;
	content: "";
}
/*.site-header, */
.site-header h1, 
.site-header h2, 
.site-header h3, 
.site-header h4, 
.site-header h5, 
.site-header h6 {
	color: inherit;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

